<ul class="gallery_list js-gallery_list">
  <li class="gallery-list__item" data-id="{{id}}">
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}" width="280" height="403" />
    <h3 class="gallery-list__item_title">{{title}}</h3>
    <a href="#" class="gallery-list__item_link">
      <ul class="genre-list">
        {{#each genre_ids}}
        <li class="genre-list__item">
          <span class="gallery-list__item_genre">{{this}}</span>
        </li>
        {{/each}}
      </ul>
      <span class="gallery-list__item_genre">Genre</span>
      <span>|</span>
      <span class="gallery-list__item_year">{{release_date}}</span>
      <span class="gallery-list__item_popularity">{{vote_average}}</span>
    </a>
  </li>
</ul>